[2017-07-07 17:39] d1b1 opened #941 "Cancel/Reset Changes to a $firebaseObject"
Not sure the best venue for this request. Not a bug. Is there a way to 'reset' or chancel changes made to a model? Or is there a way to force the $firebaseObject to fetch() data and discard any cached changes?

 I have been able to extend the $firebaseObject with a $cancel that uses the ref to fetch the data again and update the model. But not certain this is the best way.

[2017-07-07 20:38] ezequielzacca opened #942 "ios pwa firebase redirect auth mode doesnt work"
**Angular:** 4.1.1

**Firebase:** 3.9.0

**AngularFire:** 4.0.0.-rc1

### Steps to reproduce

Use angularfire2 with google as provider, create manifest.json and add the page to the home screen, then try to login using google

### Expected behavior

should go to the screen to select wich google account u want to use (if you have several) if you have one should return to the page with the login data

[2017-07-09 04:18] rarkins commented on #934
@jwngr will this be implemented soon?

[2017-07-09 08:18] jwngr commented on #934
I don't work at Firebase / Google anymore so I'm not going to be able to answer that question.

[2017-07-09 08:29] rarkins commented on #934
@jwngr do you know who would be best to comment?

[2017-07-09 08:45] jwngr commented on #934
@katowulf can probably help out, but I'm not sure since I don't work there anymore.

[2017-07-10 01:55] curiouslybrown opened #944 "Documentation for $getAuth is ambiguous"
When the documentation for $getAuth() says that it's synchronous, I took that to mean that it will block the browser until it has the auth information. This is important when the page first loads and the user already is logged in. getAuth() won't wait until that initial auth check has been completed

[2017-07-10 21:09] githubmonkey opened #945 "ui-router example not correct when using ui-router v1.0.x"
https://github.com/firebase/angularfire/blob/master/docs/guide/user-auth.md#ui-router-example

I believe the recommendation for router auth is not longer correct for ui-router version 1.0.x.

The issue is that $rootScope.$on("$stateChangeError", ...) is not longer fired as documented here: https://ui-router.github.io/guide/ng1/migrate-to-1_0#state-change-events

[2017-07-27 18:39] newmesiss opened #946 "Is it possible to save a complete path?"
I am a query, I have been searching for information for a long time, it is possible to save a complete path like vm.datas.$save() considering that within dates I have an array?

![image](https://user-images.githubusercontent.com/5264883/28686473-562ecae4-72d9-11e7-9277-552b701824da.png)

[2017-07-30 22:42] alexsales commented on #941
Rather than extend the $firebaseObject, wouldn't it be easier to just re-define/re-declare your model if wanted to reset it?
[code]

[2017-07-31 00:02] alexsales commented on #944
$getAuth() is just a wrapper for the Firebase Auth service's `.currentUser` property and checks that the user hasn't timed-out or logged out from the client-side (so there shouldn't be any waiting or server requests with this simple client-side check).

To check if a user is logged in initially:
[code]

And to have your application pay attention to subsequent log-ins/log-outs/time-outs after the i

[2017-08-06 05:12] idanen commented on #934
Did you run the tests (or something of your own) with firebase 4?

[2017-08-07 11:34] liam-cameron opened #947 "Manually clearing all entries in browser local storage results in "Cannot read property 'indexOf' of null" when checking auth status"
### Version info

**Angular:** 1.6.4

**Firebase:** 4.2.0

**AngularFire:** 2.3.0

**Node:** 6.7.0

**Chrome:** 59.0.3071.115

### Issue

I am using $requireSignIn to check for protected endpoints. Works perfectly when user is logged in, and when I perform a proper logout. However, I noticed manually clearing local storage entirely will result in `Cannot read property 'indexOf' of null` error. Thi

[2017-08-11 03:50] rarkins commented on #934
@idanen I had it running with firebase 4 for a few days and didn't notice problems. But I prefer not to run anything that's "unsupported". I guess Google don't maintain this repository anymore because it's angular.js (v1)

[2017-08-11 03:50] rarkins commented on #934
@katowulf could you update us on the status of (a) if Firebase 4.x will be supported here, and (b) is this repository deprecated?

[2017-08-11 14:58] thomas-vl opened #948 "onCreate missing"
Could you add the onCreate function to the $firebaseAuth() function?
See the following triggers:
https://firebase.google.com/docs/functions/auth-events#trigger_a_function_on_user_creation

Regards,

Thomas

[2017-08-16 12:57] davideast commented on #948
Hi @thomas-vl! This is only for the `firebase-functions` server SDK. If you create a user with the client SDK it will trigger this event on the server.

[2017-08-16 12:57] #948 closed

[2017-08-16 12:57] davideast commented on #947
@liam-cameron Can you create a plnkr showing this error?

[2017-08-16 12:58] davideast commented on #946
Hi @newmesiss! We have a required issue template. This question seems more suited for Stackoverflow as this repo is dedicated to troubleshooting library issues.

[2017-08-16 12:58] #946 closed

[2017-08-16 12:59] davideast commented on #945
Hi @githubmonkey! We have a required issue template. I'm going to close this issue, but feel free to open a new one that follows the template.

In your new issue if you could also provide a plnkr demonstrating the problem that would help out tremendously!

[2017-08-16 12:59] #945 closed

[2017-08-16 12:59] #944 closed

[2017-08-16 13:00] davideast commented on #942
@ezequielzacca Do you have a github repo that demonstrates this problem?

[2017-08-16 13:01] davideast commented on #941
Hi @d1b1! We have a required issue template, so I'm going to close this issue. I think @alexsales answer will work for you.

[2017-08-16 13:01] #941 closed

[2017-08-16 13:03] davideast commented on #938
Hi @MrSumant! We have a required issue template. I'm going to close this issue, but free to open a new one that follows the template. Also if you could provide a plnkr that demonstrates the problem that would help out tremendously!

[2017-08-16 13:03] #938 closed

[2017-08-16 13:03] davideast commented on #937
Hi @klifa90! We have a required issue template. I'm going to close this issue, but free to open a new one that follows the template. Also if you could provide a plnkr that demonstrates the problem that would help out tremendously!

[2017-08-16 13:03] #937 closed

[2017-08-16 13:04] davideast commented on #936
Hi @davittomasso ! We have a required issue template. I'm going to close this issue, but free to open a new one that follows the template.

[2017-08-16 13:04] #936 closed

[2017-08-16 13:05] davideast commented on #929
@luckyboy07 No, but you can create another app, and then create a database reference and pass it into an AngularFire instance.

[2017-08-16 13:05] #929 closed

[2017-08-16 13:07] davideast commented on #928
Hi @klifa90! We have a required issue template. I'm going to close this issue, but free to open a new one that follows the template. Also if you could provide a plnkr that demonstrates the problem that would help out tremendously!

[2017-08-16 13:07] #928 closed

[2017-08-16 13:07] davideast commented on #933
Hi @megamindbrian ! We have a required issue template. I'm going to close this issue, but free to open a new one that follows the template. Also if you could provide a plnkr that demonstrates the problem that would help out tremendously!

[2017-08-16 13:07] #933 closed

[2017-08-16 13:08] #925 closed

[2017-08-16 13:44] liam-cameron commented on #947
@davideast Hi, I'm honestly not sure how to setup a plnkr that uses the whole firebase login procedure. But the error should be easily replicable by any endpoint the uses $requiresSignin() like this:
[code]

My hypothesis is that if there is no localStorage key-value pairs in the browser, the function checking for the auth token receives a `null` value, and then attempts to call `.indexOf()` to se

[2017-08-16 15:12] ghost commented on #933
_

[2017-08-17 10:23] davideast commented on #935
Hi @remisture! We have a required issue template. I'm going to close this for now, but feel free to open with an issue that follows the template.

[2017-08-17 10:23] #935 closed

[2017-08-18 06:28] skk2142 opened #949 "uploading sanitized image file from angular2 to firebase storage"
I'm using angular2 DOM sanitizer to read an image file. I want to upload this file to the firebase storage. However, I am unable to find a way to convert the sanitized image to a blob or something that can be uploaded.

I'm using the function to read the image file.
[code]

In this code, I want to upload the compressedImageTrusted file to firebase storage. This file has a type SafeUrlImplwhich I'm

[2017-08-18 06:32] skk2142 commented on #949
I should have raised the issue in angularfire2 repo..

[2017-08-18 06:32] #949 closed

[2017-08-19 04:42] cklemming commented on #934
Yesterday marked 3 months since Firebase 4.0 was released.

I'm also a bit surprised the lack of official support for FB 4.x in AngularFire given it's still widely used (or so I presume). Would be great to understand if this library is getting deprecated.

[2017-08-19 17:59] PezCoder opened #951 "FirebaseAuth: Add unit test case for _initAuthResolver"
**What ?**
I've been exploring the codebase & realised that some of the functions in
[FirebaseAuth.js](https://github.com/firebase/angularfire/blob/master/src/auth/FirebaseAuth.js) doesn't have unit test cases especially the one's that are not exposed to user.

Was that intentional ?
I would love to work on it if not, taking one by one.
I've added some for `_initAuthResolver` function in https://g

[2017-08-23 22:43] karol-depka commented on #652
Hi. Nice discussion.

Any updates in 2017?

Worth asking, since looks like the Firebase Team expressed interest in making multi-field queries...

Is there a corresponding Firebase (as opposed to angularfire) issue to keep track of?

[2017-08-24 07:17] krazylearner opened #952 "how to use signInWithPhoneNumber ?"
is this sdk exposes "signInWithPhoneNumber" method

[2017-08-29 00:19] rupareliyagirish commented on #861
Hello,
I want downloadURL as base64 format, so any idea about that please let me know...
$scope.downloadURL = task.snapshot.downloadURL;

[2017-08-30 10:07] Snehitha09 commented on #402
[data (1).zip](https://github.com/firebase/angularfire/files/1263195/data.1.zip)
@katowulf @irfaan hey thanks for your suggestions, had a clarification, if you could please guide me,
i have a table with 2 root nodes
1)Parent
2)Child
So when i do a post information to parent a key is added along with the values i pass,
Now in the child root i would want to reference the corresponding parent and the

[2017-08-30 10:38] Snehitha09 opened #953 "Firebase Real Time Database (Insertion to table)"
[data (1).zip](https://github.com/firebase/angularfire/files/1263269/data.1.zip)
Hello,
 Had a clarification, if you could please guide me,
i have a table with 2 root nodes
1)Parent
2)Child
So when i do a post information to parent a key is added along with the values i pass,
Now in the child root i would want to reference the corresponding parent and then generate a specific key to the child and

[2017-08-30 12:13] davideast commented on #953
Hi @Snehitha09! Please use Stackoverflow for these kinds of posts as this repo is dedicated to troubleshooting library issues. Thanks!

[2017-08-30 12:13] #953 closed

[2017-08-30 12:15] davideast commented on #952
Hi @krazylearner! We have a required issue template which is helpful to know what versions you are using.

Phone number auth is not currently supported and there are no plans of adding support. Please refer to the docs and use the regular Firebase SDK for phone number auth. It's not an anti-pattern to use the regular SDK for custom needs or unsupported features.

[2017-08-30 12:15] #952 closed

[2017-09-02 19:45] idanen commented on #934
I had an issue that happened for me on "production" apps but never locally.
I had plenty of trouble trying to debug it, since it failed in an asynchronous mess...

After plenty of digging, I think the blame is this change:

(from [firebase change log](https://firebase.google.com/support/release-notes/js), version 4.0.0)

The method `firebase.auth.Auth.prototype.onAuthStateChanged` **does not** tri

[2017-09-12 10:27] jackie-d opened #954 "Wrong doc: AngularFire by Bower is accessed by 'firebase' and not 'angularfire'"
As in the description, I found wrong information in the docs.

The module name in not specified or inaccurate.

Point 2 of [](https://github.com/firebase/angularfire/blob/master/docs/quickstart.md)

And it is not specified in [](https://github.com/firebase/angularfire#getting-started-with-firebase)

[2017-09-19 15:41] KSingh1980 commented on #652
Any update on the multi-field queries? We all know the basic principle of QUERY in any application is to search by guessing and that is the crux for any application to be used except if you are doing some basic TODO app.Firebase can be hugely useful in a varied set of apps if they can provide this functionality of multi-field queries, otherwise, the scope is limited to hobbyist and POC projects on

[2017-09-20 10:12] LuisJoseSanchez commented on #652
+1

[2017-09-20 15:11] karol-depka commented on #652
+1

[2017-09-20 16:33] karol-depka commented on #652
Is QueryBase a viable solution?
https://github.com/davideast/Querybase

[2017-09-22 17:15] almgwary opened #955 "Firebase storage support rest API"
=D

I don't know where should i put this issue, there is no repo for Firebase API .
Firebase should support rest API  for storage . i am using angular, i don't need to update dependency each version . i just need to use rest API without depending on library , becouse after upgrade to Angular 4, I have to upgrade Angularfire too to make `ng build --prod --aot` . which is time consuming .

[2017-09-23 05:03] puf commented on #955
For Firebase products that don't have a public issue tracker, please [file a feature request through our support team](https://firebase.google.com/support/contact/bugs-features/).

[2017-09-23 05:03] #955 closed

[2017-09-29 05:50] rakeshdausa commented on #942
I am also facing same issue. Does any one get the solution of this problem?

[2017-10-05 20:44] HormCodes opened #956 "Firestore Support"
Are you planning add support for new Firebase feature called Firestore? I've looked at AngularFire2 and it has. What about AngularFire1?

[2017-10-07 11:49] idanen commented on #934
Ok, so the problem was not with `onAuthStateChanged` or any athoe Firebase or AngularFire code.

The issue I had happens because of an issue with uglifying firebase 4 and above.

See discussions:
https://github.com/firebase/firebase-js-sdk/issues/154
https://github.com/PolymerLabs/polybuild/issues/27
https://github.com/PolymerLabs/polyclean/issues/4

[2017-10-12 13:12] niyoma opened #957 "404 error"
I have used angularfire in my cordova app
It is working fine on browser.
but when i am testing app on device it is giving me 404 error for

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>

<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></scrip

[2017-10-12 23:44] johnmorrellif commented on #956
+1 An official release with firestore support would be great!

In the mean time I was able to copy and modify the $firebaseObject factory to create a $firestoreObject factory that seems to work for what I need (just display  data from Firestore that updates as the DB updates - mostly just the $loaded() and $destroy() methods)

**DISCLAIMERS**
- I haven't taken the time to figure out how to port ov

[2017-10-13 16:21] johnmorrellif commented on #956
Just found an issue with my change on **Line 2297**. Just need to add a conditional to make sure that there is actually data in Firestore to set to the data variable.

`

	var data = {};

	if(snap.exists){

		if (typeof  snap.forEach == 'function') {

			snap.forEach(function(doc) {

				if(doc != null){

					data[doc.id] = doc.data();

				}

			});

		} else{

			data = snap.data();

		}

	}

`

[2017-10-18 01:46] claudiocp commented on #925
please, fix the build process

[2017-10-19 12:39] tbone849 opened #958 "Multiple firebase projects"
I would like to be able to configure angularfire to handle multiple firebase projects. Configuring multiple projects is possible via the [firebase docs](https://firebase.google.com/docs/configure/#use_multiple_projects_in_your_application), but from what I can find, angularfire can only handle one project (default) at a time. Below is the code to initialize a second project. However I can't find i

[2017-10-19 14:09] puf commented on #958
Also posted on: https://stackoverflow.com/q/46821178

[2017-10-26 05:26] gregdevs opened #959 "Updating AngularJS View when Scope has changed using $watch"
Hi, I am using AngularJS 1.6 along with AngularFire 2.3.
I'm a bit stuck ATM...

I have some data stored in Firebase and when a child value changes, I would like the scope to change along with the View.
For some reason when I make a change in the Firebase DB, and I log the scope.. it is reflecting the new data, however the changes aren't making it into the angular view.
[code]
Not exactly sure whe

[2017-10-29 16:29] kapilSoni101 opened #960 "How to implement the load more in firebase in AngularJs?"
Hello sir,
I have create a ecommerce website in AngualrJs and backend is firebase.i have to get the product list from the firebase and i am using - limitToFirst() query for get the initially record's and i want to load more functionlity so sir tell me how to implement te load more in our website?
`$scope.getProductData = function() {
          //GET THE DATA FROM THE FIREABSE
          firebase.da

[2017-11-04 19:48] vitormfreis opened #961 "SSL error while trying to post to database"
I am trying to make a post request to the firebase but I am facing an error that has not occurred before with the same code. My internet connection is through a 2G-Modem on my embbedded linux (Ubuntu 16.04) device (Orange Pi 2g IoT) and I had no problem so far by running a Python 2.7 script on it and posting the URL. But now suddenly I started experiencing the following error as I execute my code:

[2017-11-08 17:52] dylanjha commented on #934
@rarkins I'm looking in at the source code here. This package specifies `"firebase": "3.x.x"` as both a "dependency" and a "peerDependency". See here: https://github.com/firebase/angularfire/blob/master/package.json#L29-L34

Despite this, I don't think this library actually loads firebase itself. I can't find anywhere in the angularfire source code where 'firebase' get's required.

In your project

[2017-11-21 18:50] #951 closed

[2017-11-29 02:23] Joebob12 commented on #957
Just wanted to bump this as i'm getting the same issue here with Ionic. Do you have  `<access origin="*" />` in your config.xml? I thought that was the issue but still getting 404 only when I'm emulating in android.

[2017-12-01 23:39] cianochannel commented on #956
I too am really interested in using firestore on angularjs.
I have a new urgent project to implement and I do not have the time to learn Angular 2.
If you have news please let me know. Thanks so much

[2017-12-08 07:03] bnfrnz opened #963 "limitToFirst() doesn't fire"
angular "5.0.0",
 ionic-angular "^3.9.2",
 firebase "^4.7.0",
 angularfire2 "5.0.0-rc.4",

### Test case

I'm getting the first key of a list of notifications to determine whether my pagination logic should continue querying or I have reached the first key:

[code]

When I subscribe to this, it fires as expected and delivers the first key. But when I then remove the respective item in the database

[2017-12-19 08:11] bnfrnz commented on #963
No one?

I still can't get this to work. Even when specifically asking for all events, it doesn't fire.

`.valueChanges(['child_added', 'child_removed', 'child_changed', 'child_moved'])`

After receiving the first item once, it doesn't fire anymore when the item is then removed or a new first item is inserted.

How can I subscribe to the first item of a list then? Any ideas?

[2018-01-02 18:07] davideast commented on #963
Hey @bnfrnz! You are in the wrong repo. This is AngularFire for AngularJS. Go to the AngularFire for Angular repo for help: github.com/angular/angularfire2

[2018-01-02 18:07] #963 closed

[2018-01-02 18:08] davideast commented on #961
Hi @vitormfreis! This is the AngularFire library which doesn't relate to the streaming API. Can you try posting this on Stackoverflow if you are still having trouble? Thanks!

[2018-01-02 18:08] #961 closed

[2018-01-05 17:23] pavankumarkatakam commented on #956
I need to add firebase to my app which is already written in the angularjs.

[2018-01-05 18:18] wwrrss commented on #956
you could use firestore with angularjs using the javascript lib, I developed a little project that way

[2018-01-05 18:21] cianochannel commented on #956
@wwrrss Can you give us some code? Thank's

[2018-01-09 07:46] marvinjude commented on #764
The support for some new  auth methods not found in the angularfire library Is saddening. I have a huge project in angular 1.x.x that need some of the new auth features provided by firebase 3.x.x . Are they ever gonna be implemented?

[2018-01-09 16:46] LarrySul commented on #455
let config = {
    apiKey: "AIzaSyBmOVq7alko828K4RDdlccqbu3Q-fYhKN8",
    authDomain: "larry-29821.firebaseapp.com",
    databaseURL: "https://larry-29821.firebaseio.com",
    projectId: "larry-29821",
    storageBucket: "larry-29821.appspot.com",
    messagingSenderId: "872441743299"
  }

 let app = firebase.initializeApp(config);
 let db = app.database();
 let studentRef = db.ref('Student');

ex

[2018-01-14 20:32] waxxxd commented on #956
I would love support for firestore in this project. For everyone else needing a quick fix, here are the docs to firestore [(Docs)](https://firebase.google.com/docs/firestore/quickstart) showing exactly how to use standard javascript to access it.

You will need to do quite a bit of legwork yourself. Good Luck

[2018-01-16 01:06] ajaxon commented on #816
In the documentation it says after verifying the id token there should be a uid, but my id token I receive when calling getIdToken() has no uid. Am I doing something wrong?

[2018-01-16 15:08] bnfrnz commented on #963
Oops, my bad

[2018-01-24 17:05] tbone849 opened #964 "$firebaseArray - removing data via server does not update the view"
### Version info

**Angular:1.6.6**

**Firebase:3.9.0**

**AngularFire:2.3.0**

### Test case

I am using $http method to delete a resource via my server. I can confirm that the resource is gone from my server and locally from the $firebaseArray. However, the view is not getting updated. When I try to add a $scope.$apply(), sometimes corrects issues like this, I get a '$digest already in progress'

[2018-01-24 21:37] tbone849 commented on #964
Appears to be an issue with another library I am using. Everything works as advertised.

[2018-01-24 21:37] #964 closed

[2018-01-29 19:22] viking2917 opened #965 "Apparent invalid certificate on cdn.firebase.com"
### Version info
Angularfire version 2.3.0

Using Ionic 1, until recently had no issues with running my app locally. Now, whenever I try to reference
[code]
per the doc, I get the following error:

cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js Failed to load resource: net::ERR_CERT_COMMON_NAME_INVALID ionic.bundle.js:17922

Simply referencing https://cdn.firebase.com/libs/angularfire/

[2018-02-02 00:58] viking2917 commented on #965
This was resolved, although not in response to this issue. a bad cert was pushed into production in error.

[2018-02-02 00:58] #965 closed

[2018-02-03 01:44] tbone849 commented on #964
For future reference. I was attempting to load a $firebaseArray inside a directive, which seems to work differently when you load it into a controller (I think). At any rate the only way I could get the $firebaseArray to recognize server updates and update the scope was the following code below.

Everytime I tried to use $scope.$watch, it wouldn't recognize the remote changes. I had to use the nat

[2018-02-27 16:38] nitishkumarnitc opened #966 "Please provide support for Firestore."

[2018-02-28 09:16] jaymanned commented on #925
Hi

Any update on when this will be released?

Regards

[2018-03-15 22:03] vuk-nikolic commented on #934
Any news for supporting firebase 4.x?

[2018-04-06 08:06] isaadabbasi commented on #894
@jwngr Whenever i add a provider for example (provider.addScope('id,name,posts') OR provider.addScope('posts') )
facebook gives an error like "Sorry, something went wrong. we're working on getting this fixed as soon as we can"

[2018-04-09 15:58] 625alex commented on #934
Also looking for support of Firebase 4.

[2018-04-12 11:07] Xsmael commented on #925
???  Really need this!

[2018-04-20 14:07] netstart opened #967 "Support crashlytics firebase."
Please, support crashlytics firebase.

I do not want to use other services, like https://www.bugsnag.com/ report crash in my web app writed in Angular

[2018-04-25 05:03] susovan87 opened #968 "ERROR TypeError: Cannot read property 'GoogleAuthProvider' of undefined"
### Version info

**Angular:** 5.2.10
**Firebase:** 4.13.0
**AngularFire:** 5.0.0-rc.6.0

**Other (e.g. Node, browser, operating system) (if applicable):**
**@firebase/app:** 0.1.10
**Node:** v8.11.1
**Browser:** Google Chrome Version 65.0.3325.181 (Official Build) (64-bit)

### Test case

Firebase Authentication is not working. I have tried the same code as mentioned in [5. Getting started with F

[2018-04-25 06:28] susovan87 commented on #968
Tried replacing `import * as firebase from 'firebase/app';`  &rarr;`import * as firebase from 'firebase';` as suggested by this post https://stackoverflow.com/a/48865752/2231209

But no luck.

[2018-04-26 16:14] zoidbergZA commented on #968
I upgraded angularfire2 in my app to "5.0.0-rc.6.0" today and have exactly the same problem as @susovan87

**version info:**
"angularfire2": "^5.0.0-rc.6.0",
"@firebase/app": "^0.1.6",
"firebase": "^4.13.1",
"@angular/core": "^5.0.3"

[2018-04-27 18:26] urielblanco commented on #968
For the moment if you change the version of firebase to 4.12.1 work it.

[2018-04-29 18:25] SMontiel commented on #968
I had the same problem!
Just change this:
[code]
in favor of
[code]
That works for me.
My dependencies:
[code]
Hope it helps!

[2018-04-30 03:32] susovan87 commented on #968
Thanks @SMontiel, `import { firebase } from '@firebase/app';` solved the issue.

[2018-04-30 13:28] mohamedelbalshy opened #969 "Can't read uid outside this.afAuth.authState.subscribe() method, it says uid undefined after I reload the page"
_Here is My Product.Service which uid is undefined after i reloading the Page, but it's defined after i login in the first time, i don't know why, Please can anyone help me to discover this problem, i searched but i didn't found a solution and i asked many people but no one answer me, i'm new to Angular_

[code]

_Here is my Component which displays Products:_

[code]

[2018-05-03 07:56] gate3 opened #970 "@firebase/database: FIREBASE WARNING: Exception was thrown by user callback. TypeError: Cannot read property 'myID' of undefined"
### Version info

**Angular:** ^5.2.0

**Firebase:** ^4.13.1

**AngularFire:** ^5.0.0-rc.6.0

**Other (e.g. Node, browser, operating system) (if applicable):** Firebase Hosting

### Test case

[code]

Basically what i am doing is fetching the current location and passing it to the function above

### Steps to reproduce

I am using angularfire with geofire for a location based app for fetching loca

[2018-05-08 04:17] faizaaniesta commented on #970
I am facing the same problem using the exact setup except for  angularfire2 ^5.0.0-rc.7.

[2018-05-08 21:41] fayeyen commented on #968
Thanks @SMontiel
 import { firebase } from '@firebase/app';
 works

[2018-05-10 14:56] 3lywa commented on #970
I am having the same issue as well! In dev the code runs fine, onceI switch to `ng build --prod` i get the following message when i run the app `Cannot read property 'myID' of undefined`

[2018-05-11 10:29] andre-gois commented on #970
same here

[2018-05-12 19:08] tuneis commented on #968
Thank you. @SMontiel

Works for me to.

[2018-05-13 17:32] kotkotoff commented on #970
same here

[2018-05-14 02:09] toffuser commented on #970
same here!

[2018-05-15 04:08] kpvsrkp commented on #970
same here. Is the fix planned down the line?

[2018-05-15 16:18] davidpobi commented on #970
same here

[2018-05-15 17:03] safarmer commented on #970
I ran into this issue today and it seemed to be related to having a logged in Firebase auth state. I pushed the same code to two different Firebase hosting projects and it worked on one and not the other. The site that worked was logged out. Once I clear cookies etc for the broken site and logged in again it started working.

[2018-05-16 08:13] benjamincombes commented on #970
Same problem for me, it throws the error for some users, and works for some other users.

[2018-05-16 13:28] amam62 commented on #970
same here. works for the first time but when I close the browser and open the hosted site I get this error.

[2018-05-19 01:27] safarmer commented on #970
Is there any update from the Firebase team on this?

[2018-05-19 02:47] toffuser commented on #970
No, i posted the issue at stackoverflow and no answers from anyone.. how can we open a bug at firebase?
https://stackoverflow.com/questions/50402963/firebase-database-exception-was-thrown-by-user-callback-typeerror-cannot-rea

[2018-05-19 23:32] ezequielzacca commented on #942
this is sad, seems like apple doesnt want PWA's to grow, with this and the poor and sad implementation of serviceworkers in safari :(

[2018-05-21 11:58] llllllllllllIIIIlll commented on #54
This is like saying we don't need the number 0 which represents nothing

Silly mistake from Googles side

[2018-05-21 15:43] hiepxanh commented on #970
same to me :(

[2018-05-22 07:41] FatimahSanni commented on #970
Same :-(

[2018-05-22 07:43] hiepxanh commented on #970
I think we should close this issue, since it not problem from angularfire, it is firebasejs sdk

[2018-05-22 07:54] FatimahSanni commented on #970
@hiepxanh, really? Found a solution?

[2018-05-23 23:53] keith-nativemobile commented on #970
Not sure how you can be sure it's not a problem with angularfire as the people reporting it all seem to be using angular - or at least I can't find others experiencing this problem.  I'm seeing the same problem as everyone else, only when compiled with --prod.

[2018-05-24 09:28] jli-lhm commented on #970
I'm getting the same exception but only when I'm trying to access my website from my workplace proxy. At home I can connect without any issues.

[2018-05-28 18:40] kpvsrkp opened #971 "Error: Metadata version mismatch for module node_modules/angularfire2/index.d.ts, found version 4,"
### PLEASE LOOK AT THE END FOR ACTUAL ISSUE.

### Version info

**Angular:**

angular-cli: 1.0.0-beta.28.3
node: 6.11.0
os: win32 x64
angular/common: 4.4.4
angular/compiler: 4.4.4
angular/compiler-cli: 4.4.4
angular/core: 4.4.4
angular/forms: 4.4.4
angular/http: 4.4.4
angular/platform-browser: 4.4.4
angular/platform-browser-dynamic: 4.4.4

**Firebase:**
firebase --version  => 3.18.4
package.json

[2018-05-28 19:04] toffuser commented on #970
I found a workaround : https://stackoverflow.com/questions/50402963/firebase-database-exception-was-thrown-by-user-callback-typeerror-cannot-rea

But it doesn`t explain the main problem.

[2018-05-31 07:55] Viktor19931 commented on #970
I am having the same issue as well! In dev the code runs fine, once I switch to ng build --prod i get the following message when i run the app Cannot read property 'myID' of undefined

[2018-05-31 09:43] angelnikolov commented on #970
Same issue here, it seems that if you delete Firebase's cookies it will work, however once those are available it just starts spitting the error. Maybe that's why many people reported it as an issue which is not always easily reproducible.

[2018-05-31 10:17] arunrajahgopal commented on #970
@angelnikolov, That is true. The issue is affecting only the system of the developers (presumably) who have ping the application from a dev environment (thereby creating the login cookie) and then try to access them from a prod env. To avoid this issue, one can clear the cookies and hitting the prod env. Or just give it to your tester or manager who aren't using the dev env. It will work for them.

[2018-06-01 07:09] mubashshirul commented on #970
I have solved this issue. Just do this in your app.component.ts
[code]

[2018-06-01 10:58] Dupflo commented on #970
@mubashshirul

You just save me ! I'm using React and it solved this error !

Thank you very much

[2018-06-04 08:11] GeorgiyZhuravlev commented on #970
Ths same problem with already bundled (--prod) and deployed to hosting app. After weeks of work has eventually crashed with this error

[2018-06-12 14:22] FatimahSanni commented on #970
@mubashshirul Thank you! Worked like a charm

[2018-06-13 16:27] nasquam opened #972 "JS console error displaying my API Key on failed login - Chrome only"
### Version info

**Angular:

https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js
https://code.angularjs.org/1.6.9/angular-route.min.js

**Firebase:**

https://www.gstatic.com/firebasejs/3.6.6/firebase.js

**AngularFire:**

https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js

**Other (e.g. Node, browser, operating system) (if applicable):**

### Test case

From this

[2018-07-02 10:43] davidheis commented on #969
im new too, but i think its because the code in this.afAuth.authState.subscribe is taking time before it finishes, but in the meantime the javascript has been executed outside that scope.

[2018-07-02 14:57] apptimise commented on #194
All, I have the same problem in AngularFire `1.2.0`. the @katowulf 's comment wouldn't work, because the `$loaded()` in `obj.$loaded().then(function(values){...})` will not be triggered for the 2nd time, so doesn't matter if you use `obj` or `values`, the `then()` part will never be called. Any other suggestions?

[2018-07-02 18:55] calledtoconstruct commented on #969
You should consider using rxjs.  Create a subject for the user identity, then use the subject.next(user.uid) to publish the value to subscribers who need it.  The alternative is to move the call to getProducts inside the subscribe callback.

[2018-07-10 13:04] maxx-kl commented on #970
@mubashshirul 's solution worked good, but error sporadically appeared not only on developer but on clients' computers too. Now after using `ng build --prod  --build-optimizer=false` everything is OK for more than a week.

[2018-07-10 13:11] trobbins1981 opened #973 "Your library does not support callbacks for set(), push(), while Firebase does"
We have a large codebase with the older firebase in it (2.x), which supported callbacks for set() and push() operations.  Now, we are converting to Firebase 5.2.1, which still supports the callbacks for compatibility purposes.  However, your library does not support callbacks.  This means that if i want to use mock-firebase, I must convert my whole codebase over to use promises.

**Angular:**
1.5.

[2018-07-24 03:21] dimitri320 commented on #903
I'm experiencing this same exact problem. Here is my code for logout. Basically firebase.auth().signOut() doesn't do anything. Upon logining in (I'm using Facebook), it dosn't even check that Facebook is logged out itself, and continues to re-load the old credentials.

[code]

[2018-07-25 13:48] jullus opened #974 "Are there any plans to include ML Kit support?"
### Version info

**Angular:**

**Firebase:**

**AngularFire:**

**Other (e.g. Node, browser, operating system) (if applicable):**

### Test case

### Steps to reproduce

### Expected behavior

### Actual behavior

[2018-07-31 19:42] danfri86 commented on #968
Issue is till open so I'll contribute what is working for me.

[code]
[code]

[2018-08-12 15:29] fdambrosio commented on #971
I have the same problem

[2018-08-15 12:16] GeoffMahugu commented on #849
No,, still having the same issue:
"@angular/cli": "^1.7.4",
"angularfire2": "^5.0.0-rc.6.0",
 "firebase": "^4.12.1",

[2018-09-06 10:32] gsdiama commented on #971
Hi,

Same problem here. Does anyone have a solution?

Thanks in advance.

[2018-09-18 13:50] ohabash opened #976 "ng build --prod || Can't resolve './public_api' in '/node_modules/angularfire2/database'"
**Angular:**
^6.1.7

**Firebase:**
^5.0.0-rc.10

**AngularFire:**
^5.0.4

### Steps to reproduce

Im getting the following error after `ng build --prod`

### Actual behavior

Module not found: Error: Can't resolve './public_api' in '/Users/Sites/fornida-ng6/node_modules/angularfire2/database'

Module not found: Error: Can't resolve './public_api' in '/Users/Sites/fornida-ng6/node_modules/angularfi

[2018-09-18 15:04] ohabash commented on #976
Here is what i did

1. `npm uninstall angularfire2 firebase`
2. `npm install @angular/fire firebase --save`
3. changed import paths from `/angularfire2` to `/@angular/fire` in `app.module.ts`
4. updated import paths in any component using angularfire

[2018-09-23 16:17] bondseid opened #977 "firestorage $putString callbacks not binding"
**Angular: 1.7.4 **

**Firebase:3.9.0**

**AngularFire:2.3.0**

### Test case

let photoStorage = $firebaseStorage(ref);
let uploadTask = photoStorage.$putString("data:string", "data_url");
uploadTask.then();

firebase.js:585 Uncaught (in promise) TypeError: Cannot read property 'then' of undefined
    at Object.T.then (firebase.js:585)

This error is thrown for all callbacks. $complete, .catch et

[2018-09-26 23:12] samtstern commented on #956
@jamesdaniels can you confirm that there are no plans to bring Firestore to this library?  This issue has a lot of comments/reactions and I'd like to set the record straight.

[2018-10-09 15:11] maqboolkhan commented on #184
hallo @anantn i have one use to show spinner until all firebase request are not complete (with Angular 6)! I wrote Angular interceptor but as you mentioned above it did not work so i am wondering now how to achieve it ? can you please help
Thanks in advance

[2018-10-29 09:36] NDMCreative commented on #903
dimitri320

[code]

[2018-11-30 10:01] sundsx opened #979 "Firestore support"
Please support Firestore! I spent a lot of time for angularjs and honestly don't like me angular 2. I have app up and running and need o update to Firestore new cloud realtime database. Please Help developer...

Thank you

[2019-01-25 12:01] aroncal commented on #970
Same here with:
[code]
After network disconnection and later reconnection, error starts popping up, and gathered data cannot be sent to Firebase anymore.

[2019-03-07 11:49] Miguel-Alberto opened #980 "Dependency Update"
A handful of dependencies have known vulnerabilities in the required versions. A little housekeeping to resolve theses would be much appreciated.

<img width="711" alt="image" src="https://user-images.githubusercontent.com/36014895/53954744-16ee2c80-40a5-11e9-90c4-cdc320398a51.png">
<img width="714" alt="image" src="https://user-images.githubusercontent.com/36014895/53954754-1ce40d80-40a5-11e9-902

[2019-04-04 06:12] johnedvard commented on #970
I Experienced the same problem as @aroncal . At first, I thought it was a problem related to the user login token timing out, but no, it seems to be network disconnect and reconnect related. I will try to downgrade to firebase#4.12.1 myself and see if it works

[2019-05-27 12:19] eerrecalde opened #981 "I keep getting "TypeError: Right-hand side of 'instanceof' is not callable" error no matter what sign in method I try"
Has anyone came across to this issue before?

More info:
I've tried with diff versions of angular, angularfire, and firebase.. Always getting the same issue.

The file where the error happens is the file `https://www.gstatic.com/firebasejs/node_modules/google-closure-library/closure/goog/net/xhrio.js`

And the error is exactly here "content instanceof goog.global['FormData']"
see code involved:
`v

[2019-05-27 23:49] #981 closed

[2019-06-17 23:03] ninipop commented on #968
Cant seem to get this to work either. Tried downgrading but that messed up a few of my call functions. Using latest version of everything...

[2019-06-23 16:42] vyapariapp opened #982 "Firestore is loading all data in every new insert or any updates"
this.unsubscribe= this.firestore.collection('mycollection').ref.where("somecase","==","myvalue")

      .onSnapshot((data=>{}));
I need to make my website live data but when i using above code firestore loading all data for each and every update/insert and it is very costly .
I only need to load newly added data or updated data not all data each and every time.
How to do it in angular6?

This code

[2019-06-23 20:06] JonathanParra commented on #968
Hola, tenia el mismo error y la manera en que lo solucione, fue simplemente agregando en el index la sifuiente linea:

 <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-auth.js"></script>

[2019-07-10 18:52] Bktechmasala commented on #982
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:52] Bktechmasala commented on #980
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:53] Bktechmasala commented on #979
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:53] Bktechmasala commented on #977
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:53] Bktechmasala commented on #784
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:53] Bktechmasala commented on #809
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:54] Bktechmasala commented on #934
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:54] Bktechmasala commented on #942
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:54] Bktechmasala commented on #947
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:54] Bktechmasala commented on #954
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:54] Bktechmasala commented on #956
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:55] Bktechmasala commented on #957
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:55] Bktechmasala commented on #958
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:55] Bktechmasala commented on #959
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:55] Bktechmasala commented on #960
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:55] Bktechmasala commented on #966
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:56] Bktechmasala commented on #967
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:56] Bktechmasala commented on #968
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:56] Bktechmasala commented on #969
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:56] Bktechmasala commented on #970
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:56] Bktechmasala commented on #971
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:56] Bktechmasala commented on #972
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:57] Bktechmasala commented on #973
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:57] Bktechmasala commented on #973
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:57] Bktechmasala commented on #974
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:57] Bktechmasala commented on #976
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:57] Bktechmasala commented on #783
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:58] Bktechmasala commented on #764
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:58] Bktechmasala commented on #761
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:58] Bktechmasala commented on #682
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-07-10 18:58] Bktechmasala commented on #630
forgot password reset link , see the video link completely solved
https://youtu.be/daGZO6YAkRg

[2019-08-12 20:45] criscamargonettle commented on #968
Buenas! Como dice Jonathan tambien lo solucione con agregar al html:

<script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-auth.js"></script>

[2019-08-23 17:30] pdemilly opened #983 "callable functions throw deadline-exceeded even though the function was defined with max timeout in nodes"
### Version info

**Angular:**
[code]
**Firebase:**

    "firebase": "^6.4.0",
    "firebase-functions": "^3.2.0",
    "@types/firebase": "^3.2.1",

**AngularFire:**

` "@angular/fire": "^5.2.0-rc.3",`

**Other (e.g. Node, browser, operating system) (if applicable):**

### Test case

### Steps to reproduce

in Angular

[code]
in node

exports.myNodeFunction = functions.runWith ({ timeoutSeconds: f

[2019-09-12 21:04] pihish opened #984 "New Console Error "TypeError: v12 is not a function" With Version 0.9.2"
I have an application which was written several years ago using AngularJS 1.5.5, Firebase 2.2.3, and AngularFire 0.9.2.

In the past few days, I've noticed the following console error when I load the page:

[code]

This seems correlated to a filtering feature on the app which has also stopped working.  The codebase for this application has not changed in several years so it seems this is being cau

[2019-09-13 01:24] skwny opened #985 "'child_added' does not trigger when re-adding same item to RTDB"
Today I was implementing listeners for child_added/removed/etc and noticed that when I deleted an item from the DB (from console), the listener triggered for the 'child_removed' action. However, when I tried re-adding the same item (i.e. same key) to the list in the DB, 'child_added' did not trigger for it.

### Version info
**Angular:**
8.2.2

**Firebase:**
6.4.0

**AngularFire:**
5.2.1

**Other

[2019-09-13 01:41] skwny opened #986 "'child_removed' triggers on setting listener, before child is removed"
The AngularFireDatabase `child_removed` event triggers on initially adding the listener, not when children are removed.

Version info
Angular:
8.2.2

Firebase:
6.4.0

AngularFire:
5.2.1

Other (e.g. Node, browser, operating system) (if applicable):
OS: Mac 10.14.6
Browser: Chrome 76.0.3809.132

Steps to reproduce
Set a listener for 'child_added' event:
[code]
Notice that the listener will trigger

[2019-10-20 22:57] madmacc commented on #983
I am getting the same issue after 60s although I have defined  timeoutSeconds: 300.

[2019-10-26 01:23] haydennyyy opened #987 "ERROR Error: Uncaught (in promise): TypeError: Cannot convert undefined or null to object"
### Version info

**Angular:** `"@angular/core": "~8.2.11"`

**Firebase:** `"firebase": "^7.2.2"`

**AngularFire:** `"@angular/fire": "^5.2.1"`

**Other (e.g. Node, browser, operating system) (if applicable):**
- Node V11 LTS
- Edge Beta
- macOS 10.14 Mojave

### Test case

Not applicable, the error doesn't appear in a development environment.

### Steps to reproduce

1. Go to https://hayden.codes

[2019-10-26 10:53] haydennyyy commented on #987
Just noticed this is in the wrong place. Moving to angular/angularfire

[2019-10-26 11:51] #987 closed

[2019-11-07 11:01] Yngdev31 commented on #977
Have you find a solution for this ? I have the same problem ...

[2020-01-10 15:18] zarko-tg commented on #970
No official fix for this yet? It's still alive even on a wrong GitHub project, since the problem is apparent when using only the JS Database / library.

[2020-01-29 13:25] AdrienVictor opened #988 "ERROR TypeError: ZS(...).firestore is not a function"
Hello,

I have an issue after deploying my app on firebase. I used cloud firestore as my database on my app. It works fine on localhost, no errors or issues.

However after deploying the website I got this error: ERROR TypeError: ZS(...).firestore is not a function.
The UI and the data are not loading at all.

![image](https://user-images.githubusercontent.com/46904762/73360416-89628f00-42ab-11ea-

[2020-02-03 10:32] #988 closed

[2020-02-03 10:33] AdrienVictor commented on #988
just needed to add firestrore in the app.module

[2020-02-06 09:48] Steco17 opened #989 "Email verification"
Hello guys,
 Am currently using
 - Angularfire 2.3.0.

i have read through the documentation but am having difficulties implementing the email verification. please do anyone have an idea how its been done. a snippet of a code will do.
 Thanks. ^_^

[2020-02-06 09:50] #989 closed

[2020-02-06 09:58] Steco17 commented on #989
juts a replica of #764

[2020-04-09 10:44] Kalp1498 commented on #903
Though you have your own problem but i found mine solution under your problem
Thanks bud..

[2020-04-10 15:25] JoeBoxr commented on #968
Had to go with this for Angular/Fire 6.0.0

`import { auth } from 'firebase/app';
import 'firebase/auth';`

[2020-04-15 17:42] gustavo-alarcon commented on #968
@danfri86 Thanks man, that approach worked for me !

"@angular/fire": "^6.0.0",
"firebase": "^7.13.2",

[2020-04-22 23:01] silverio commented on #983
I had the same issue. But I found a solution using the firebase JS SDK. There are 2 timeouts you can handle, one for the function that runs in the server and other for the client. For the client you can pass a timeout in the JS SDK `functions().httpsCallable(functionName, {timeout: 300000});`. The `functions.HttpsCallableOptions` parameter is not available in AngularFire 6.0.0.

[2020-05-04 16:48] kingychiu commented on #970
This is working to our case. in our case removing the localstorage item didn't help.

I changed from `ng build --prod --aot --build-optimizer` to `ng build --prod --aot --build-optimizer=false`

[2020-05-05 11:40] #986 closed

[2020-05-05 11:40] #985 closed

[2020-05-05 11:41] #984 closed

[2020-05-05 11:41] #983 closed

[2020-05-05 11:41] #982 closed

[2020-05-05 11:42] #980 closed

[2020-05-05 11:42] #974 closed

[2020-05-05 11:42] #973 closed

[2020-05-05 11:42] #972 closed

[2020-05-05 11:44] #970 closed

[2020-05-05 11:44] Miguel-Alberto commented on #980
@davideast resolved, or?

[2020-05-05 11:45] #968 closed

[2020-05-05 11:46] #967 closed

[2020-05-05 11:46] #966 closed

[2020-05-05 11:46] #960 closed

[2020-05-05 11:46] #958 closed

[2020-05-05 11:46] #956 closed

[2020-05-05 11:46] #969 closed

[2020-05-05 11:47] #954 closed

[2020-05-05 11:47] #934 closed

[2020-05-07 00:13] joeizang commented on #968
I think @gustavo-alarcon's solution should be included in the installation instructions and readme. Developers shouldn't have to search and come here in the issues to find this out when it can be done. I am willing to update the readme if need be.

[2020-05-25 19:26] maryyocelotl opened #991 "Uncaught TypeError: Cannot read property 'GoogleAuthProvider"
**index.html**
`<body>`

` <h1>Inicia sesion para comprar tus boletos</h1>`
  `<div id="contenedor">`
  `  <div id="foto"></div>`
    `<button id="logueo">Con tu correo electrónico</button>`
   ` <div id="principal"></div>`
    `<button id="guardar">Recordarme</button>`
` </div>`

`  <script src="https://code.jquery.com/jquery-3.5.1.min.js"`
    `integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFt

[2020-05-28 16:52] #991 closed

[2020-05-28 16:52] maryyocelotl commented on #991
I had to add some authentication libraries :)

[2020-07-16 14:52] pickfire opened #992 "auth.signInAnonymously() support"
It would be useful to support `auth.signInAnonymously` or just reexport other functions.

[2020-11-06 10:05] dominic-ks commented on #968
For the record and anyone else ending up here, this worked for me:

[code]

Then I could use this, as a crude example

[code]

[2020-11-19 01:14] jamesdaniels commented on #992
At this point we're considering the library to be finished and are advising folk migrate to Angular and `@angular/fire`.

[2020-11-19 01:14] #992 closed

[2020-11-19 01:14] jamesdaniels commented on #979
Thanks for the feedback, however at this point we're considering the library to be finished and are advising folk migrate to Angular and `@angular/fire`.

[2020-11-19 01:14] #979 closed

[2020-11-19 01:15] jamesdaniels commented on #977
Sorry for the radio silence, as you might've gathered we're not investing in AngularFire at the moment, advising folk migrate to Angular and `@angular/fire` instead.

[2020-11-19 01:15] #977 closed

[2020-11-19 01:17] jamesdaniels commented on #630
Closing as stale.

[2020-11-19 01:17] #630 closed

[2020-11-19 01:17] jamesdaniels commented on #682
Closing as stale.

[2020-11-19 01:17] #682 closed

[2020-11-19 01:17] jamesdaniels commented on #761
Closing as stale.

[2020-11-19 01:17] #761 closed

[2020-11-19 01:18] jamesdaniels commented on #764
Closing as stale. At this point we consider this library complete and are advising remaining developers move to Angular and `@angular/fire`.

[2020-11-19 01:18] #764 closed

[2020-11-19 01:19] jamesdaniels commented on #778
Closing as stale.

[2020-11-19 01:19] #778 closed

[2020-11-19 01:19] jamesdaniels commented on #783
Closing as stale.

[2020-11-19 01:19] #783 closed

[2020-11-19 01:19] jamesdaniels commented on #784
Closing as stale.

[2020-11-19 01:19] #784 closed

[2020-11-19 01:19] #809 closed

[2020-11-19 01:20] jamesdaniels commented on #942
Closing as stale.

[2020-11-19 01:20] #942 closed

[2020-11-19 01:20] jamesdaniels commented on #947
Closing as stale.

[2020-11-19 01:20] #947 closed

[2020-11-19 01:20] #957 closed

[2020-11-19 01:20] #959 closed

[2020-11-19 01:21] #971 closed

[2020-11-19 01:21] #976 closed

[2020-11-27 21:03] jakehe808 commented on #968
works on
[code]

[2021-01-27 22:32] wh1t3h47 commented on #54
Please note that you can always store falsy values for that purpose, as Firebase doesn't care about types: Instead of `[]`, `{}` or `NULL`, store either `false` or `0`.

[2021-02-22 21:19] cortez87 commented on #970
Why this issue is closed if now on 2021 is still occurring with --prod devices?

[2021-05-22 06:54] huntr-helper opened #994 "Potential Security Issue"
👋 Hello, we've received a report for a potential critical severity security issue in your repository.

#### Next Steps

1️⃣  Visit **https://huntr.dev/bounties/1-other-FirebaseExtended/angularfire** for more advisory information.

2️⃣  **[Sign-up](https://huntr.dev/)** to validate or speak to the researcher for more assistance.

3️⃣ Propose a patch or outsource it to our community.

---

#### Conf

[2021-12-14 22:15] okosowski commented on #849
different frontend lib and  "firebase": "^9.1.2" and still there is no way to detect "close by user" action

[2021-12-26 13:26] yoni333 commented on #968
not work on
  "firebase": "^9.4.0",
   "@angular/fire": "^7.2.0",
   "@angular/core": "~13.1.0",

[2022-01-08 01:32] AnoCymous commented on #875
![101001020101020202020-1---1--22002-200123920222001010110-type.gif](https://user-images.githubusercontent.com/96651770/148625842-cd0f37a7-48cb-482d-95fb-43d0a5e519be.gif)_js.dep~[s]~ss.x.x~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~# # # # # # # # # # # # # # # # # # # # # ####### # # # # # # # # # # # # # # #       ####### # # # # # # # # # # # # # # #   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~